
// FOOTER
footer#common_footer
  background-color: rgb(40, 39, 27)
  height: 23px
  padding: 12px 0px
  font-size: 14px
  position: absolute
  width: 100%
  bottom: 0px

  ul#footer_sns_links
    width: 50%
    display: inline
    li
      color: rgb(147,122,22)
      display: inline

    a
      margin: 0px 10px
      color: rgb(147,122,22)
      font-style:normal
      text-decoration: none
    a:link
      color: rgb(147,122,22)
      font-style:normal
      text-decoration: none
    a:visited
      color: rgb(147,122,22)
      text-decoration: none
    a:hover
      color: rgb(249,200, 8)
      font-style:normal
      text-decoration: none
    a:active
      text-decoration:none

  p.copyright
    margin: 0px
    margin-right: 12px
    display: inline
    float: right
    color: rgb(147,122,22)
