
// HEADER
header#common_header
  background-color: rgb(40, 39, 27)
  height: 23px
  padding: 12px 0px
  font-size: 14px
  position: absolute
  width: 100%
  top: 0px

  nav#header_nav
    float: right
    margin-right: 12px
    ul
        li
          color: rgb(147,122, 24)
          display: inline

        a
          margin: 0px 8px
          color: rgb(147,122, 24)
          font-style:normal
          text-decoration: none
        a:link
          color: rgb(147, 122, 24)
          font-style:normal
          text-decoration: none
        a:visited
          color: rgb(147, 122, 24)
          text-decoration: none
        a:hover
          color: rgb(249,200, 8)
          font-style:normal
          text-decoration: none
        a:active
          text-decoration:none
