

// COMMON
ul
  padding: 0px
  margin: 0px

header#common_header
  background-color: rgb(40, 39, 27)

div#application
  background-color: rgb(249,200, 8)

footer#common_footer
  background-color: rgb(40, 39, 27)


section#home .home_title
  text-align: right
  padding-right: 40px
